.event-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: url(../assets/img/Events/artwork-7141090.png) no-repeat;
}

.event-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15vh;
    width: 100%;
}

.event-header p {
    letter-spacing: 5px;
    font-size: 32px;
    font-weight: 800;
    font-stretch: expanded;
}

.event-search {
    width: 500px;
    letter-spacing: 5.5px !important;
    font-weight: 800;
}

.event-contents {
    width: 75%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.event-upcomming,
.event-completed {
    display: flex;
    flex-direction: column;
}

.event-upcomming p,
.event-completed p {
    letter-spacing: 2px;
    font-size: 22px;
    font-weight: 800;
    text-transform: capitalize;
    text-decoration: double;
}

.event-cards {
    display: flex;
    overflow-x: scroll;
    padding: 50px 0 50px 0;
    scrollbar-width: none;
}

/* Notification Cards CSS  */

/* .notification-cards {
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
} */

.notification-cards-description {
    font-size: 12px !important;
    font-weight: 500 !important;
    text-align: justify !important;
}

.notification-cards:hover {
    cursor: pointer;
}

.notification-cards:hover {
    transition: 0.5s;
}

.notification-content:hover .notification-cards:not(:hover) {
    opacity: 0.4;
    transition: 1s;
}
