.notifications-container {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #e0fbfc;
    /* background-image: radial-gradient(circle, #80debb, #50cbc0, #16b6c3, #00a0c2, #0089ba); */
}

.notification-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification-title {
    font-size: 32px;
    font-weight: 600;
    color: #2f4d5a;
    letter-spacing: 3.5px;
}

.notification-subheading {
    max-width: 1200px;
    margin-top: 20px;
}

.notification-content {
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-bottom: 50px;
    grid-row-gap: 50px;
}

.notification-cards:hover {
    cursor: pointer;
}

.notification-cards:hover {
    scale: 1.1;
    transition: 0.5s;
}

.notification-content:hover .notification-cards:not(:hover) {
    opacity: 0.4;
    transition: 1s;
}

@media only screen and (max-width: 700px) {
    .notifications-container {
        padding-top: 120px !important;
    }
    .notification-content {
        display: flex;
        flex-direction: column;
        padding-bottom: 25px;
        margin-top: 25px;
    }
    .notification-title {
        font-size: 28px;
    }
    .notification-subheading {
        font-size: 14px;
    }
    .notification-cards {
        padding: 0px !important;
    }
}

@media only screen and (min-width: 700px) and ((max-width: 1000px)) {
    .notifications-container {
        padding-top: 120px !important;
    }
    .notification-content {
        display: grid;
        padding-bottom: 50px;
        margin-top: 25px;
        grid-template-columns: auto auto;
        grid-gap: 30px;
    }
    .notification-title {
        font-size: 28px;
    }
    .notification-subheading {
        font-size: 14px;
    }
    .notification-cards {
        padding: 0px !important;
    }
}

@media only screen and (min-width: 1000px) and ((max-width: 1250px)) {
    .notifications-container {
        padding-top: 120px !important;
    }
    .notification-content {
        display: grid;
        padding-bottom: 50px;
        margin-top: 30px;
        grid-template-columns: auto auto auto;
        grid-gap: 30px;
    }
    .notification-title {
        font-size: 28px;
    }
    .notification-subheading {
        font-size: 14px;
    }
    .notification-cards {
        padding: 0px !important;
    }
}
